{% extends 'main/layout.html' %}
{% block content %}
<section class="container">
  <div class="thanks" style="
  display: flex; 
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 250px;
  ">
    <h2>Спасибо за заказ!</h2>
    <p>Мы скоро с вами свяжемся.</p>
    <div style="padding-top: 25px;">
      <a href="katalog" style="color: black; ">Назад в каталог</a>
    </div>
  </div>
</section>
{% endblock content %}


{% block feedbackForm %}
{% endblock feedbackForm %}

{% block footer %}
{% endblock footer %}